<html>
<body>
<h1><center>Monkey Zone List</center></h1>
<div class="container">

<table class="table table-striped">
  <tr>
     <th>ID </th>
     <th>name</th>
     <th>spcs</th>
     <th>city</th>
     <th>sex</th>
     <th>birth</th>
     <th>rct</th>
     <th>Area_id
     <th> Update </th>
  </tr>
  <tr>
  {% for animal in animals%}
    <td> {{ animal.anm_id }} </td>
    <td> {{ animal.anm_name }} </td>
    <td> {{ animal.anm_spcs }}</td>
    <td> {{ animal.anm_city }}</td>
    <td> {{ animal.anm_sex }}</td>
    <td> {{ animal.anm_birth }}</td>
    <td> {{ animal.anm_rct }}</td>
    <td> {{ animal.zone_id }}</td>
    <td> <a class="btn btn-info" href ="{%url 'animal_update' animal.anm_id %}" >Update  </a> <td>
    </tr>
  {%endfor%}
</table>

<a class="btn btn-info pull-right" href = "{%url 'animal_add' %}"> New Member </a>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</div>
</body>
</html>