<html>
<body>
<div class="container">
<h1> New / Update Animal</h1>

<form method="POST">
  {% csrf_token %}
      <label>ID</label> {{ form.anm_id}} </br>
      <label>Name</label> {{ form.anm_name}} </br>
      <label>Spcs</label>  {{ form.anm_spcs}} </br>
      <label>city</label>  {{ form.anm_city }} </br>
      <label>sex</label>  {{ form.anm_sex }} </br>
      <label>birth</label>  {{ form.anm_birth }} </br>
      <label>rct</label>  {{ form.anm_rct }} </br>
      <label>Zone_id</label>  {{ form.zone_id }} </br>
  <button class="btn btn-default" type="submit">Save</button>
  <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
</form>

  {% if animal %}
      <a class="btn btn-danger" href="{%url 'animal_delete' animal.anm_id %}">Delete</a>
  {%endif%}

</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</body>
</html>