<html>
<body>
<h1><center>Monkey Zone List</center></h1>
<div class="container">

<table class="table table-striped">
  <tr>
     <th>ID </th>
     <th>name</th>
     <th>spcs</th>
     <th>city</th>
     <th>sex</th>
     <th>birth</th>
     <th>rct</th>
     <th>Area_id </th>
     <th> 이미지 </th>
     <th> Update </th>
  </tr>
  <tr>
  {% for animal in animals%}
    <td> {{ animal.anm_id }} </td>
    <td> {{ animal.anm_name }} </td>
    <td> {{ animal.anm_spcs }}</td>
    <td> {{ animal.anm_city }}</td>
    <td> {{ animal.anm_sex }}</td>
    <td> {{ animal.anm_birth }}</td>
    <td> {{ animal.anm_rct }}</td>
    <td> {{ animal.zone_id }}</td>
    <td> {% if animal.anm_img %}
        <img src="{{ animal.anm_img.url }}" heigth=100, width=50>
{% endif %}</td>
    <td> <a class="btn btn-info" href ="{%url 'animal_update' animal.anm_id %}" >Update  </a> <td>
    </tr>
  {%endfor%}
</table>

<a class="btn btn-info pull-right" href = "{%url 'animal_add' %}"> New Member </a>
<a href="{% url 'animal_search' %}">검색하기</a>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</div>

{% if product.imgfile %}
<div class="container border col-10">
    <div style="width:10%; height:150px; float:left; margin-right:10px;">
        <img src="{{ product.imgfile.url }}" width="700">
    </div>
{% endif %}

</body>
</html>